.main {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow:hidden;
    }
.left {
        width: 300px;
        height: 100%;
        background-color: red;
        position: absolute;
        }
.right {
        width: calc(100% - 300px);
        height: 100%;
        background-color:  blue;
        position: absolute;
        left:300px;
        }
