.main {
    box-sizing:border-box;
    width: 100%;
    height:100%;
    overflow:hidden;
    
   
}
.middle{
    width: 200px;
    height:200px;
    background-color: deeppink;
    float:left;
    
}
.left {
    width: 200px;
    height:200px;
    background-color: blue;
    float:left;
   
}
.right {
    width: calc(100% - 400px);
    height:200px;
    background-color: darkorchid;
    float:left;
}
